
@font-face {
    font-family: 'Code';
    src: url('fonts/Code.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'Code', monospace;
    max-width: 800px;
    line-height: 1.6;
}

.left {
	float:left;
	margin:0;
	padding:0
}
.right {
	float:right;
	margin:0;
	padding:0
}

a {
	text-decoration: none; 
	word-break: break-all;
}

html, body {
	margin: 0px;
	height:100%;
	width:100%;
	padding:0;
	scroll-behavior: smooth;
}

h1,
h2 {
	font-weight: 700;
    text-transform: uppercase;
}

#about {
	margin: 25px 25px;
}

#cv {
	margin: 25px 25px;
}

#contact {
	margin: 25px 25px;
}

header {
	padding:10px 15px;
	font-size:250%;
	background-color: #ffffff;
}

footer {
	padding:5px 15px;
	font-size:80%;
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	background-color: #ffb350;
}

body {
	background-color: #fafafa;
    width: 80%;
    margin: 0 auto;
}

main {
	padding:10px;
}


#flag {
    text-align: center;
}

#newmenu {
	margin: 25px 25px;
}

#newheader {
	margin: 25px 25px;
}